<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- spring-test :: aladino1 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio con thymeleaf</title>
</head>
<body>
    <!-- <h1>Inicio</h1> -->
    <header th:replace="layout/template :: header"></header>
    <p th:text="Saludos"></p> 
    <a th:href="@{/agregar}">Crear Persona</a>
    <div th:if="${persons != null and !persons.empty}">
        <table>
            <tr>
                <th>ID:</th>
                <th>Nombre:</th>
                <th>Apellido:</th>
                <th>Email:</th>
                <th>Teléfono:</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="person : ${persons}">
                <td th:text="${person.idPerson}">ID</td>
                <td th:text="${person.name}">Name of person</td>
                <td th:text="${person.lastName}">LastName of person</td>
                <td th:text="${person.email}">Email of person</td>
                <td th:text="${person.phone}">Phone of person</td> 
                <td><a th:href="@{/edit/} + ${person.idPerson}" th:text="Editar"></a></td>
                <td><a th:href="@{/del(${person.idPerson})}" th:text="Eliminar"></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${persons == null or persons.empty}">
        La lista de personas está vacía :(
    </div>
     <footer th:replace="layout/template :: footer"></footer>

</body>
</html>