<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
</head>
<body>
    <header th:fragment="header">
        <h1 th:text="#{plantilla.titulo}">Título</h1>
    </header>
    <footer th:fragment="footer">
        <div>
            <br>
            <a th:href="@{/(lang=es)}">ES</a> |
            <a th:href="@{/(lang=en)}">EN</a> |      
            <span>[[#{plantilla.pie-pagina}]] <a href="http://www.github.com/Ualb" th:text="#{plantilla.ver-autor}"></a> </span>
            <form method="POST" th:action="@{/logout}">
                <a href="#" onclick="this.parentNode.submit()">Logout</a>
            </form>
        </div>
    </footer>
</body>
</html>