<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio con thymeleaf</title>
</head>
<body>
    <h1>Inicio</h1>
    <p th:text="Saludos"></p>
    <p th:text="${name}"></p>
    <p th:text="${hi}"></p>

    <br>
    Nombre: <span th:text="${person.name}">Name of person</span>
    <br>
    Apellido: <span th:text="${person.lastName}">LastName of person</span>
    <br>
    Correo: <span th:text="${person.email}">Email of person</span>
    <br>
    Teléfono: <span th:text="${person.phone}">Phone of person</span> 

</body>
</html>